@import "defaults";

.container {
    max-width: 960px;
    height: 90vh;
    margin: 0 auto;
    display: flex;

    .form-container {
        width: 500px;
        height: 350px;
        margin: auto;

        form {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items:flex-start;

            .form-group {
                display: flex;
                flex-direction: column;
                width: 100%;
                line-height: 2rem;

                input {
                    padding: 5px 1rem;
                }
            }

            .btn {
                width: 100%;

                button {
                    width: 100%;
                    padding: 5px 1rem;
                }
            }
            
        }
    }
}