* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 960px;
  height: 90vh;
  margin: 0 auto;
  display: flex;
}

.container .form-container {
  width: 500px;
  height: 350px;
  margin: auto;
}

.container .form-container form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.container .form-container form .form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  line-height: 2rem;
}

.container .form-container form .form-group input {
  padding: 5px 1rem;
}

.container .form-container form .btn {
  width: 100%;
}

.container .form-container form .btn button {
  width: 100%;
  padding: 5px 1rem;
}
