* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 800px;
    height: 100vh;
    margin: 0 auto;
}

.form-container {
    width: 500px;
    height: 350px;
    margin: 0 auto;
    transform: translateY(50%);
    display: flex;
}

form {
    margin: auto;
}

form input {
    line-height: 2rem;
    padding: 0 1rem;
}

form button {
    line-height: 2rem;
    padding: 0 1rem;
    cursor: pointer;
}